html, body {
	background-color: #EEE1D2;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.jumbotron {
	background-image: url("../images/foodtruckheader.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
h1 {
	font-family: 'Righteous', cursive;
	color: #FFFEFC;
	font-size: 80px;
}
h2 {
	font-family: 'Righteous', cursive;
	color: #555;
	font-size: 80px;
}
.jumbotron h2 {
	color: #FFFEFC;
	text-shadow: -1.5px 0 #000000,0 1.5px #000000,1.5px 0 #000000,0 -1.5px #000000;
}
h3 {
	font-family: 'Righteous', cursive;
	color: #555;
	font-size: 25px;
}
/*Video Home Page Style*/

.background-wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
      }
 #video-bg-elem {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
 }

#header {
	font-family: 'Pacifico', cursive;
	color: #555;
	font-size: 50px;
}
#ftInfo {
    display: none;
}
#selectedTruck {
    width: 400px;
}
#currentTrucks {
    width: 400px;
}

/*Button Styling*/
 .content {
    position: absolute;
    width: 100%;
    min-height: 100%; 
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
  }
  .content h1 {
    text-align: center;
    font-size: 85px;
    font-weight: 300;
    padding-top: 15%;
    margin-bottom: 10px; 
    font-family: 'Righteous', cursive;
	color: #FFFEFC;
  }
  .content p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: #aaa;
  }
 .button {
    border: solid #036A81 3px;
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #036A81;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 12px;
  }
  .button:hover {
    color: #023964; 
	background-color: #BDBDBD;
	border: solid;
	opacity: 0.6;
	transition: ease-in 0.5s;
  }

/*Code by Dolphin Below*/

#truckName {
    font-size: 5em;
}

#truckDescription {
	font-size: 1.5em;
}

#ftHeader {
	background: #CFB095;
}

#averageRating, #totalRatings, #cuisine, #menu, #popDish, #website, #twitterHandle {
	font-weight: bold;
	font-size: 25px;
    text-align: center;
}

#tweets {
	color: blue;
	font-size: 18px;
}

#truckReviews {
	font-weight: bold;
	font-size: 25px;
    text-decoration: underline;
    padding-top: 50px;
    text-align: center;
}

#currentReviews {
	font-size: 18px;
	text-align: center;
}

#tweets h5 {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

#uploadModal {
  display: none;
}

/**About Page**/
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  text-align: center;
  text-decoration: none; 
}

nav a { 
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  line-height: 50px;
  font-family: 'Bubbler One', sans-serif; 
  font-size: 35px;
 }

.sect {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#aboutSection { 
  height: 32%;
}

#aboutSection h1 { 
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

#aboutSection p {
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.subSection {
  height: 65%;
  background-color: teal;
}

#teamSection { 
  height: 100%;
}

#teamSection h3 { 
  font-family: 'Righteous', cursive;
  font-size: 40px;
}


.sectOne { 
  background-image: url("../images/truckingfun.jpg");
   }

.sectTwo { 
  background-image: url("../images/night.jpg");
   }

.sectThree { 
  background-image: url("../images/truckyeah.jpg");
   }

/**Review Page**/
.navbar {
  background-color: #666;
  opacity: 0.8;
  font-size: 35px;
}

.add-navbar {
  color: #666;
  font-family: 'Bubbler One', sans-serif;
  font-size: 35px;
  margin-left: 12px;
}
